/* Google Font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

/* Navbar */
.navbar-brand {
    font-size: 28px;
}

.nav-link {
    font-weight: 500;
}

.btn {
    border-radius: 8px;
}